@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer base {
  body {
    @apply bg-neutral-50;
  }

  * {
    box-sizing: border-box;
    @apply font-sans;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    color: #333;
    @apply mt-2 mb-8 font-bold;
  }

  h1 {
    line-height: 1.25;
    font-size: 2rem;
  }

  h2 {
    line-height: 1.25;
    font-size: 1.75rem;
  }

  h3 {
    line-height: 1.25;
    font-size: 1.5rem;
  }

  h4 {
    line-height: 1.25;
    font-size: 1.25rem;
  }

  h5 {
    line-height: 1.25;
    font-size: 1.25rem;
  }

  h6 {
    line-height: 1.25;
    font-size: 1.25rem;
  }

  p {
    @apply text-gray-700 mb-6;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}